{% extends 'layout.html.twig' %} 

{% block title %} Accueil{% endblock %}

{% block content %}
<div class="row mt-5 justify-content-center text-center">
  <h1 class="text-center text-danger" style="margin: 2%">new</h1>
  <div class="container">
    <div class="row">
<section class="padding-top">
<div class="container">
	<nav class="row gy-4 row-cols-xl-8 row-cols-sm-4 row-cols-3">
      <div class="col">
        <a href="#" class="item-link text-center">
            <span class="icon mb-2 icon-md rounded"> 
           		<img width="32" height="32" src="\public\photosLivre\Le-Medaillon62d550b8b4d4f.png">
           	</span>
           <span class="text"> Interior items </span>
        </a>
      </div> <!-- col.// -->
      <div class="col">
        <a href="#" class="item-link text-center">
           <span class="icon mb-2 icon-md rounded"> 
           		<img width="32" height="32" src="public\photosLivre\Le-Medaillon62d552bd0c9ac.png">
           	</span>
           <span class="text"> Sport and travel </span>
        </a>
      </div> <!-- col.// -->
      <div class="col">
        <a href="#" class="item-link text-center">
           <span class="icon mb-2 icon-md rounded"> 
           		<img width="32" height="32" src= href "../public\photosLivre\Le-Medaillon62d5523e95b17.png">
           </span>
           <span class="text"> Jewellery </span>
        </a>
      </div> <!-- col.// -->
      <div class="col">
        <a href="#" class="item-link text-center">
           <span class="icon mb-2 icon-md rounded"> 
           		<img width="32" height="32" src="C:\Users\pierr\Desktop\projets\main\public\photosLivre\A-nos-tenebres-Tome-162d580ad098b5.png">
           </span>
           <span class="text"> Accessories </span>
        </a>
      </div> <!-- col.// -->
      <div class="col">
        <a href="#" class="item-link text-center">
           <span class="icon mb-2 icon-md rounded"> 
           		<img width="32" height="32" src="public\photosLivre\Le-Medaillon62d552987ea89.png">
           </span>
           <span class="text"> Automobiles </span>
        </a>
      </div> <!-- col.// -->
      <div class="col">
        <a href="#" class="item-link text-center">
           <span class="icon mb-2 icon-md rounded"> 
           		<img width="32" height="32" src="public\photosLivre\Le-Medaillon62d5523e95b17.png">
           </span>
           <span class="text"> Home items </span>
        </a>
      </div> <!-- col.// -->
      <div class="col">
        <a href="#" class="item-link text-center">
           <span class="icon mb-2 icon-md rounded"> 
           		<img width="32" height="32" src="public\photosLivre\Le-Medaillon62d5523e95b17.png">
           	</span>
           <span class="text"> Musical items </span>
        </a>
      </div> <!-- col.// -->
      <div class="col">
        <a href="#" class="item-link text-center">
           <span class="icon mb-2 icon-md rounded"> 
           		<img width="32" height="32" src="public\photosLivre\Le-Medaillon62d54f1810b11.png">
           	</span>
           <span class="text"> Books, reading </span>
        </a>
      </div> <!-- col.// -->
      <div class="col">
        <a href="#" class="item-link text-center">
           <span class="icon mb-2 icon-md rounded"> 
           		<img width="32" height="32" src="public\photosLivre\Le-Medaillon62d54ebb1e531.png">
           </span>
           <span class="text"> Kid's toys </span>
        </a>
      </div> <!-- col.// -->
      <div class="col">
        <a href="#" class="item-link text-center">
           <span class="icon mb-2 icon-md rounded"> 
           		<img width="32" height="32" src="public\photosLivre\Le-Medaillon62d54ea6e037a.png">
           </span>
           <span class="text"> Pet items </span>
        </a>
      </div> <!-- col.// -->
      <div class="col">
        <a href="#" class="item-link text-center">
           <span class="icon mb-2 icon-md rounded"> 
           		<img width="32" height="32" src="public\photosLivre\A-nos-tenebres-Tome-162d58077e6a5d.png">
           </span>
           <span class="text"> Men’s clothing </span>
        </a>
      </div> <!-- col.// -->
      <div class="col">
        <a href="#" class="item-link text-center">
           <span class="icon mb-2 icon-md rounded"> 
           		<img width="32" height="32" src="public\photosLivre\A-nos-tenebres-Tome-162d58077e6a5d.png">
           </span>
           <span class="text"> Men’s clothing </span>
        </a>
      </div> <!-- col.// -->
      <div class="col">
        <a href="#" class="item-link text-center">
           <span class="icon mb-2 icon-md rounded"> 
           		<img width="32" height="32" src="public\photosLivre\A-nos-tenebres-Tome-162d5810e10668.png">
           </span>
           <span class="text"> Smartphones </span>
        </a>
      </div> <!-- col.// -->
      <div class="col">
        <a href="#" class="item-link text-center">
           <span class="icon mb-2 icon-md rounded"> 
           		<img width="32" height="32" src="public\photosLivre\A-nos-tenebres-Tome-162d581d2d1f25.png">
           </span>
           <span class="text"> Tools </span>
        </a>
      </div> <!-- col.// -->
      <div class="col">
        <a href="#" class="item-link text-center">
           <span class="icon mb-2 icon-md rounded"> 
           		<img width="32" height="32" src="public\photosLivre\A-nos-tenebres-Tome-162d580d39e168.png">
           </span>
           <span class="text"> Education </span>
        </a>
      </div> <!-- col.// -->
      <div class="col">
        <a href="#" class="item-link text-center">
           <span class="icon mb-2 icon-md rounded"> 
           		<img width="32" height="32" src="public\photosLivre\A-nos-tenebres-Tome-162d580ad098b5.png">
           </span>
           <span class="text"> Other items </span>
        </a>
      </div> <!-- col.// -->
   </nav>
</div>	
</section>
      {% for livre in livre %}
      <div class="col col-md-3 mt-1">
        <div class="card" style="width: 100%">
          <div class="card-body">
            <h5 class="card-title">{{ livre.titre }}</h5>
            <p class="card-text">{{ livre.categorie.nom }}</p>
             <a href="{{path("livre_show", {id: livre.id})}}"><img width="100%" src="{{ asset('photosLivre/' ~ livre.photoCouv) }}" alt="{{livre.titre}}"></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}