{% extends 'layout.html.twig' %} 

{% block title %} Les dernières parutions{% endblock %}

{% block content %}
<div class="row mt-5 justify-content-center text-center">
  <h1 class="text-center text-danger" style="margin: 2%">Les dernières parutions </h1>
  <div class="container">
    <div class="row">

      {% for livre in livre %}
      <div class="col col-md-3 mt-1">
        <div class="card" style="width: 100%">
          <div class="card-body">
            <h5 class="card-title">{{ livre.titre }}</h5>
            <p class="card-text">{{ livre.categorie.nom }}</p>
             <a href="{{path("livre_show", {id: livre.id})}}"><img width="100%" src="{{ asset('photosLivre/' ~ livre.photoCouv) }}" alt="{{livre.titre}}"></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}